
ion-content{
    --background: var(--blanco);
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}



article{
    background: linear-gradient(135deg, var(--azul-oscuro),var(--azul));
    //margin: 2em;
    //padding: 5em;
    width: 18em;
    height: 8em;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; 
    cursor: pointer;
}


header{
    display: flex;
    justify-content: flex-start;
}
h1{
    font-size: 69px;
}
i {
    color:var(--azul-oscuro);
    font-size: 40px;
    cursor: pointer;
}

.num-notas{
    font-size: 40px;
}
.notas{
    font-size: 30px;
}
.title-section{
    flex-grow: 1; //Para que ocupe el espacio restante
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icon-section{
    padding: 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1px;
    justify-items: center;
    align-items: center;
}