
ion-content{
    --background: var(--blanco);
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}



article{
    background: linear-gradient(135deg, var(--azul-oscuro),var(--azul));
    //margin: 2em;
    //padding: 5em;
    width: 18em;
    height: 8em;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; 
    cursor: pointer;
    margin-bottom: 1em;
}

article:active{
    transform: scale(0.9);    /* Escala al hacer clic */

}
.efecto:active{
    transform: scale(0.9);
  
}
header{
    display: flex;
    justify-content: flex-start;
}
h1{
    font-size: 69px;
}
i {
    color:var(--azul-oscuro);
    font-size: 40px;
    cursor: pointer;
}

.num-notas{
    font-size: 40px;
}
.notas{
    font-size: 30px;
}
.title-section{
    flex-grow: 1; //Para que ocupe el espacio restante
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icon-section{
    padding: 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 1px;
    justify-items: center;
    align-items: center;
}



@media (min-width:741px){
    .last-item {
        grid-column: span 2; /* Hace que ocupe las 3 columnas */
        justify-self: center; /* Centra el elemento */
    }


}

@media (min-width:1112px){
    .last-item {
        grid-column: span 1; /* Hace que ocupe las 3 columnas */
        justify-self: center; /* Centra el elemento */
    }

    article{
     
        width: 18em;
        height: 12em;
        margin-bottom: 2em;
    }
}