


<ion-content [fullscreen]="true">

<header>Ejercicios</header>


<section>
  <article class="cuadrado">
      <span class="num-notas">3 Notas</span>
      <span class="notas">Do mi sol</span>
  </article>
  <article class="cuadrado">
    <span class="num-notas">4 Notas</span>
    <span class="notas">Do mi sol la</span>
  </article>
  <article class="cuadrado">
    <span class="num-notas">5 Notas</span>
    <span class="notas">Do re mi sol la</span>
  </article>
  <article class="cuadrado">
    <span class="num-notas">6 Notas</span>
    <span class="notas">Do re mi fa sol la</span>
  </article>
  <article class="cuadrado">
    <span class="num-notas">7 Notas</span>
    <span class="notas">Do re mi fa sol la si</span>
  </article>
</section>

  <ion-button (click)="goHome();">Inicio</ion-button>
  <ion-button (click)="goDictado();">Dictado</ion-button>
  <ion-button (click)="goDictados2();">Dictado2</ion-button>
</ion-content>
