

<ion-content [fullscreen]="true">

  <header>
    <section class="icon-section efecto">
      <span class="icon-home efecto" (click)="goHome()" alt="icono de casa para volver a la pantalla inicial"></span>
    </section>
    <section class="title-section">
      <h1 class="title-font">Ejercicios</h1>
    </section>
  </header>

<!--Botones para seleccionar tipos de ejercicio-->
<section class="body-font grid">
  <article class="cuadrado" (click)="goSelecDictado(3)">
      <h2 class="num-notas">3 Notas</h2>
      <h3 class="notas">Do mi sol</h3>
  </article>
  <article class="cuadrado" (click)="goSelecDictado(4)">
    <h2 class="num-notas">4 Notas</h2>
    <h3 class="notas">Do mi sol la</h3>
  </article>
  <article class="cuadrado" (click)="goSelecDictado(5)">
    <h2 class="num-notas">5 Notas</h2>
    <h3 class="notas">Do re mi sol la</h3>
  </article>
  <article class="cuadrado " (click)="goSelecDictado(6)">
    <h2 class="num-notas">6 Notas</h2>
    <h3 class="notas">Do re mi fa sol la</h3>
  </article>
  <article class="cuadrado last-item" (click)="goSelecDictado(7)">
    <h2 class="num-notas">7 Notas</h2>
    <h3 class="notas">Do re mi fa sol la si</h3>
  </article>
</section>
<audio #audioButton></audio>

</ion-content>
