<ion-content [fullscreen]="true" [forceOverscroll]="false">
  <header>
    <section class="icon-section">
      <i class="icon-home" (click)="goHome()"></i>
    </section>
    <section>
      <i class="icon-download" (click)="downloadCorreccion()" ></i>
    </section>
  </header>
  <section class="canvas-section">  
    <article class="canvas-container">
      <canvas #pentagramCanvas id="pentagramCanvas"></canvas>
    </article>
  </section>

  <audio #audioElement></audio>

  <footer>
    <section>
      <p class="cuadro-boton title-font" (click)="goDictados()">Más ejercicios</p>
    </section>
  </footer>

</ion-content>
