

<ion-content [fullscreen]="true" [forceOverscroll]="false">
  <header>
    <section class="icon-section">
      <i class="icon-home" (click)="goHome()"></i>
    </section>
  </header>
  <section class="canvas-section">  
    <article class="icon-column">
      <div class="lapiz">
        <i class = "icon-pencil cuadro-boton" (click)="changeToBrush()"></i>
      </div>
      <div>
        <i class = "icon-eraser cuadro-boton" (click)=" changeToEraser()"></i>
      </div>
      </article>
    <article class="canvas-container">
      <canvas #pentagramCanvas id="pentagramCanvas"></canvas>
      <canvas #drawingCanvas id="drawingCanvas"  (touchstart)="handleStart($event)"  (touchmove)="handleMove($event)" (touchend)="handleEnd($event)"></canvas>
    </article>
  </section>

  <audio #audioElement></audio>

  <footer>
    <i class="icon-left-open" (click)="goDictados()"></i>
    <section>
      <i class="icon-play" (click)="playAudio()"></i>
    </section>
    <section>
      <i class="icon-ok cuadro-boton " (click)="goCorreccion()"></i>
    </section>
  </footer>

</ion-content>
