
ion-content{
    --background: var(--blanco);
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
header{
    display: flex;
    justify-content: flex-start;
}

h1, h2{
    font-size: 50px; 
}

article{
    background: var(--amarillo);
    width: 12em;
    height: 6em;
    color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; 
    cursor: pointer;
    border: 5px solid;
    border-color: var(--azul-oscuro);
    border-radius: 2em;
    margin-bottom: 2em;

}
article > span{
    font-size: 40px;
}
article > p{
    font-size: 40px;
}

i {
    color:var(--azul-oscuro);
    font-size: 40px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.grid{
    display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(calc((100% - 40px) / 3), 1fr)); 
    gap: 1px;
    justify-items: center;
    align-items: center;
   
}

.title-section{
    flex-grow: 1; //Para que ocupe el espacio restante
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icon-section{
    padding: 10px;
}

@media (min-width:681px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width:477px) and (max-width: 680px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:476px){
    .grid {
        grid-template-columns: 1fr;
    }
}