

<ion-content [fullscreen]="true">

  <header>
    <i class="icon-home"></i>
    <span class="title-font">Dictados con 3 notas</span>
    <span class="title-font">Do mi sol</span>

  </header>
  
  <section class="body-font grid">
    <article class="boton" (click)="goDictado()">
        <span>1</span>
    </article>
    <article class="boton" (click)="goDictado()">
      <span>2</span>
    </article>
    <article class="boton" (click)="goDictado()">
      <span>3</span>
    </article>
    <article class="boton" (click)="goDictado()">
      <span>4</span>
    </article>
    <article class="boton" (click)="goDictado()">
      <span>5</span>
    </article>
    <article class="boton" (click)="goDictado()">
      <span>6</span>
    </article>
    <article class="boton" (click)="goDictado()">
      <span>7</span>
    </article>
    <article class="boton" (click)="goDictado()">
      <span>8</span>
    </article>
    <article class="boton" (click)="goDictado()">
      <span>9</span>
    </article>
  </section>

  <ion-button (click)="goHome();">Inicio</ion-button>
  <ion-button (click)="goDictado();">Dictado</ion-button>
  <ion-button (click)="goDictados2();">Dictado2</ion-button>
</ion-content>
