

<ion-content [fullscreen]="true">

  <header>
    <section class="icon-section efecto">
      <span class="icon-home efecto" (click)="goHome()"></span>
    </section>
    <section class="title-section">
      <!--Esto cambiara con el typescript segun el tipo de ejercicio seleccionado-->
      <h1 class="title-font" #mainTitle id="mainTitle" alt="icono de casa para volver a la pantalla inicial" >Dictados con 3 notas</h1> 
      <h2 class="title-font" #subtitle id="subtitle">Do mi sol</h2>
    </section>
  </header>
  
  <!--Dictados a elegir-->
  <section class="body-font grid">
    <article class="boton" (click)="goDictado(1)">
        <p>1</p>
    </article>
    <article class="boton" (click)="goDictado(2)">
      <p>2</p>
    </article>
    <article class="boton" (click)="goDictado(3)">
      <p>3</p>
    </article>
    <article class="boton" (click)="goDictado(4)">
      <p>4</p>
    </article>
    <article class="boton" (click)="goDictado(5)">
      <p>5</p>
    </article>
    <article class="boton" (click)="goDictado(6)">
      <p>6</p>
    </article>
    <article class="boton" (click)="goDictado(7)">
      <p>7</p>
    </article>
    <article class="boton" (click)="goDictado(8)">
      <p>8</p>
    </article>
    <article class="boton" (click)="goDictado(9)">
      <p>9</p>
    </article>
  </section>

  <footer>
    <span class="icon-left-open efecto" (click)="goEjercicios()" alt="flecha hacia la izquierda, para regresar a la pantalla anterior"></span>
  </footer>
  <audio #audioButton></audio>
</ion-content>
