

<ion-content [fullscreen]="true">

  <header>
    <section class="icon-section">
      <i class="icon-home" (click)="goHome()"></i>
    </section>
    <section class="title-section">
      <h1 class="title-font">Dictados con 3 notas</h1>
      <h2 class="title-font">Do mi sol</h2>
    </section>
  </header>
  
  <section class="body-font grid">
    <article class="boton" (click)="goDictado()">
        <p>1</p>
    </article>
    <article class="boton" (click)="goDictado()">
      <p>2</p>
    </article>
    <article class="boton" (click)="goDictado()">
      <p>3</p>
    </article>
    <article class="boton" (click)="goDictado()">
      <p>4</p>
    </article>
    <article class="boton" (click)="goDictado()">
      <p>5</p>
    </article>
    <article class="boton" (click)="goDictado()">
      <p>6</p>
    </article>
    <article class="boton" (click)="goDictado()">
      <p>7</p>
    </article>
    <article class="boton" (click)="goDictado()">
      <p>8</p>
    </article>
    <article class="boton" (click)="goDictado()">
      <p>9</p>
    </article>
  </section>

  <footer>
    <i class="icon-left-open" (click)="goEjercicios()"></i>
  </footer>
</ion-content>
