<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dictado2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dictado</ion-title>
    </ion-toolbar>
  </ion-header>

  <canvas #pentagramCanvas id="pentagramCanvas"></canvas>
  <canvas #drawingCanvas id="drawingCanvas"  (touchstart)="handleStart($event)"  (touchmove)="handleMove($event)" (touchend)="handleEnd($event)"></canvas>
 
  <ion-button (click)=" changeToBrush()" (click)="changeSize(1)">Lápiz</ion-button>
  <ion-button (click)=" changeToEraser()" (click)="changeSize(4)">Borrador</ion-button>
  <ion-button (click)="goHome();">Inicio</ion-button>
  <ion-button (click)="goMenu();">Atrás</ion-button>

  <ion-button (click)="playAudio();">Play</ion-button>

  <ion-button (click)="downloadImage();">Capturar Imagen</ion-button>

  <audio #audioElement></audio>
</ion-content>
