

ion-content {
  --background: linear-gradient(135deg, var(--azul-oscuro),var(--azul)); /* Degradado lineal aplicado directamente */
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}
ion-button {
  --background: var(--blanco); /* Fondo blanco */
  --color: var(--negro); /* Texto negro */
  min-height: 120px;
  min-width: 100px;
  --border-radius: 35px; /* Bordes redondeados, opcional */
  padding: 49px 20px; /* Relleno, opcional */
  font-size: 49px; /* Tamaño del texto, opcional */
  font-weight: bold; /* Peso del texto, opcional */
}
ion-button:active{
  transform: scale(0.9);    /* Escala al hacer clic */
}
.logo-font{
  margin-top: 50px;


}
footer{
  margin-top: 2em;
}
#pantalla{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio entre las imágenes y el texto */
  position: relative;
}

.logo-img1 {
  width: 120px; 
  height: 180px;
  transform: translateY(50px) rotate(-15deg);

}
.logo-img2{
  width: 100px; 
  height: 100px;
  transform: translateY(170px)
}

.left-img {
  margin-right: 10px; /* Espacio a la derecha de la imagen izquierda */
}

.right-img {
  margin-left: 10px; /* Espacio a la izquierda de la imagen derecha */
  margin-bottom: 10px;
}

@media (max-height:443px) and (max-width: 649px){

  .logo-container{
    transform: scale(0.5) translateY(-200px);
    padding-top: -2em;
    padding-bottom: -5em;
    
  }

  footer{
    display: none;
    
  }
  ion-button{
    width:10em;
    height: fit-content;
    font-size: 20px;
    padding: 0;
    transform: scale(0.2) ;

  }
  .button{
    transform: scale(0.8) translateY(-150px);
    margin:0;
  }
}